@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 250px;
}
header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: 0 1 auto;
}
header .right-side {
    flex: 0 1 auto;
}
ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

ul * {
    text-decoration: none;
    color: #F9FAF8;
    padding-left: 9px
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
    background-color: #1F2937;
    gap: 32px;
}

.hero img {
    flex: 1 1 0;
    width: auto;
    height: 300px;
}

.hero .text {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #e5e7eb;
    font-size: 18px;
}
.hero .text .main {
    font-size: 40px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero .text button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
}

.info .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 100px;
}

.info img {
    max-width: 200px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.info .card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .card p {
    text-align: center;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 100px 250px;
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
}

.quote .attribution {
    text-align: end;
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 150px 200px;
    padding: 50px;
    border-radius: 16px;
    background-color: #3882f6;
    color: #F9FAF8;
}
.call .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.call .title {
    font-weight: bold;
    font-size: 18px;
}

.call button {
    background-color: #3882f6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #1F2937;
    color: #F9FAF8;
}